#widgets {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 5px solid orange;
}

#display {
  width: 50%;
}

#clockBox {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 2px solid black;
  width: 100%;
  background-color: orange;
  color: white;
}
